<footer class="footer">
    &copy;
    Copyright 2017-2020 辛修灿个人博客  联系我：xiucanxin@163.com
    
    <a href="<%- url_for() %>"个人博客</a>
</footer>
<a class="back-to-top" href="javascript:void(0)" title="返回顶部"> <i
		class="fa fa-angle-up"></i></a> 
<div class="back-to-top" id="JELON__backToTop" title="返回顶部">返回顶部</div>



